<div>
    <div>
        <a routerLink="/home" class="mr-3">Home</a>
        <a routerLink="/about">About</a>
        <router-outlet></router-outlet>
    </div>
    <div style="position: fixed; bottom: 0;width: 100%;" *ngIf="flg">
        <div class="ml-auto" style=" text-align: center;">
            <img src="assets/Group 289.png" style="height: 20px;cursor: pointer;" alt="" (click)="addHeight();">
        </div>
    </div>
    <div class="rectangle" id="rectangle" [ngStyle]="style" mwlResizable [validateResize]="validate" [enableGhostResize]="true" [resizeSnapGrid]="{ left: 50, right: 50 }" (resizeEnd)="onResizeEnd($event)">
        <div class="resize-handle-top" mwlResizeHandle [resizeEdges]="{ top: true }"></div>
        <div class="resize-handle-inner" style="background-color: #fd4140;border: solid 1px #121621;color: #121621;height: 100%;overflow-y: auto;">
            <!-- <div class="d-flex">
                <div class="small">profile trouble shooting</div>
                <button type="button" class="close t-color ml-auto" data-dismiss="modal" id="closeDeleteCustomer" aria-label="Close" (click)="closeTroubleShooting($event);flg=true;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <input type="text" [(ngModel)]="test"> {{test}} -->
            <div class="m-2">profile</div>
            <mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="font-size:11px" cdkDropListGroup>
                <ng-container *ngFor="let column of columns; let i = index" [matColumnDef]="column.field">
                    <mat-header-cell style="text-align: left;" *matHeaderCellDef (mousedown)="onResizeColumn($event, i)">
                        {{ i !== 5 ? column.field : (1 === 1 ? 'NotificationEvent' : 'NotificationEvent-NotificationPointId') }}
                    </mat-header-cell>
                    <mat-cell style="text-align: left;" *matCellDef="let row"> {{ row[column.field] }} </mat-cell>
                </ng-container>
                <mat-header-row style="text-align: left;" *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row style="text-align: left;" style="white-space: nowrap;" *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
    </div>
</div>